Node-red flow potencies lescala.txt
[{"id":"552deb97.b0bb04","type":"mqtt in","z":"f198dc87.60bed","name":"","topic":"dragino_rs485-bl/devices/87654321/up","qos":"2","datatype":"auto","broker":"3941768f.4f9b5a","x":190,"y":120,"wires":[["7fca8a43.e2c404","a15b4533.805b08"]]},{"id":"7fca8a43.e2c404","type":"debug","z":"f198dc87.60bed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":120,"wires":[]},{"id":"59542151.cd57f","type":"change","z":"f198dc87.60bed","name":"","rules":[{"t":"set","p":"power_swimmingpool","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":100,"wires":[[]]},{"id":"56f8eaa6.2b38a4","type":"inject","z":"f198dc87.60bed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":280,"wires":[["556573bf.ed3e6c"]]},{"id":"556573bf.ed3e6c","type":"function","z":"f198dc87.60bed","name":"Keep alive","func":"msg.payload=flow.get('power_swimmingpool')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":280,"wires":[["837c165.a4de3e8","9102d9ea.ba5cb8"]]},{"id":"9102d9ea.ba5cb8","type":"mqtt out","z":"f198dc87.60bed","name":"","topic":"potencia_piscina","qos":"","retain":"","broker":"cb62497b.524598","x":700,"y":280,"wires":[]},{"id":"837c165.a4de3e8","type":"debug","z":"f198dc87.60bed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":340,"wires":[]},{"id":"c8d66931.345608","type":"inject","z":"f198dc87.60bed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1800","payloadType":"num","x":690,"y":120,"wires":[["59542151.cd57f"]]},{"id":"a15b4533.805b08","type":"function","z":"f198dc87.60bed","name":"Payload_fields","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_fields;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":80,"wires":[["7f29888b.ed6998","7dc55df0.794b94"]]},{"id":"7f29888b.ed6998","type":"function","z":"f198dc87.60bed","name":"power_phase1","func":"var a = msg.payload;\nmsg.payload=a.power_phase1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":80,"wires":[["12db20db.247a2f","59542151.cd57f"]]},{"id":"12db20db.247a2f","type":"debug","z":"f198dc87.60bed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"7dc55df0.794b94","type":"function","z":"f198dc87.60bed","name":"power_phase2","func":"var a = msg.payload;\nmsg.payload=a.power_phase2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":160,"wires":[["66b8808d.32f5d"]]},{"id":"66b8808d.32f5d","type":"change","z":"f198dc87.60bed","name":"","rules":[{"t":"set","p":"power_fridge","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":180,"wires":[[]]},{"id":"fb12d127.455bb","type":"inject","z":"f198dc87.60bed","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":400,"wires":[["692a11f3.54ab"]]},{"id":"692a11f3.54ab","type":"function","z":"f198dc87.60bed","name":"Keep alive","func":"msg.payload=flow.get('power_fridge')\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":400,"wires":[["ad444a77.819fc8","fff962db.83dcb"]]},{"id":"fff962db.83dcb","type":"mqtt out","z":"f198dc87.60bed","name":"","topic":"potencia_nevera","qos":"","retain":"","broker":"cb62497b.524598","x":700,"y":400,"wires":[]},{"id":"ad444a77.819fc8","type":"debug","z":"f198dc87.60bed","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":460,"wires":[]},{"id":"3941768f.4f9b5a","type":"mqtt-broker","z":"f198dc87.60bed","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cb62497b.524598","type":"mqtt-broker","z":"f198dc87.60bed","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]